---
import { FILTER_OPTIONS } from "@config";
const NAME = FILTER_OPTIONS?.label || FILTER_OPTIONS?.prefix || "";
const ITEMS = FILTER_OPTIONS?.items ?? [];
const MULTIPLE = FILTER_OPTIONS?.multiple ? true : false;
const PREFIX = FILTER_OPTIONS?.prefix ?? NAME;
const HIDDEN_DEFAULT = FILTER_OPTIONS.hideByDefault ? true : false;
const filter_styles = ((ITEMS) => {
  let displayStyle = `{display:inherit;}`;
  let hideStyle = `{display:none;}`;

  let str = `*[data-block]{display:block;} *[data-adf-section]${hideStyle}`; //hide sections by default
  str += `body:not([data-adf]) *[data-adf-section]${
    FILTER_OPTIONS?.hideByDefault ? hideStyle : displayStyle
  }`;
  
  // keep only the alphanumeric representation of each item
  // then create the style strings for each item
  let itemSelectors = Array.from(ITEMS)
    .map((item) => {
      item = ("" + item).trim().replaceAll(new RegExp("[^A-z0-9]", "gmi"), "-");
      let parentSelector = `[data-adf*="${item}"]`;
      let childDisplaySelector = `[data-adf-section*="${item}"]`;
      return `*${parentSelector} *${childDisplaySelector}`;
    })
    .sort();
  str += `${itemSelectors.join(", ")}${displayStyle}`;
  return `${str}`;
})(ITEMS);

const item_array_str = ITEMS.map((x) => {
  return `"${x}"`;
}).join(", ");
---

<>
  <!-- Content Filter set up -->
  <style is:inline set:html={filter_styles} type="text/css"></style>
  <script
    is:inline
    define:vars={{ NAME, ITEMS, MULTIPLE, PREFIX, HIDDEN_DEFAULT }}
  >
    class AstroDocFilter {
      static COOKIE_NAME = "adf-content-filter";
      static forceLowercaseIds = () => {
        document
          .querySelectorAll("[id]")
          .forEach((el) => (el.id = el.id.toLowerCase()));
      };
      static forceHashVisibility = (url) => {
        if (!url) {
          url = window.location;
        }
        let hash = new URL(url)?.hash || "";
        //find the section this element belongs to then set it to be displayed
        if (hash) {
          let matchingEl = document.querySelector(hash);
          if (matchingEl) {
            //traverse up the DOM to find the adf section, if any
            let parent = matchingEl;
            while (parent != document.body) {
              if (parent?.dataset?.adfSection) {
                break;
              } else {
                parent = parent.parentElement;
              }
            }
            let compStyles = getComputedStyle(parent);

            if (
              compStyles.display == "none" ||
              compStyles.display == "inline"
            ) {
              parent.style.display = "initial";
            }
          }
        }
      };
      static setCookie = (val) => {
        if (val) {
          localStorage.setItem(AstroDocFilter.COOKIE_NAME, val);
        } else {
          localStorage.removeItem(AstroDocFilter.COOKIE_NAME);
        }
      };
      static ensureValidCookie = () => {
        let val = localStorage.getItem(AstroDocFilter.COOKIE_NAME);
        // if multiple selection is not enabled, set the val to only the first option
        if (val && val.split(",").length >= 2 && !MULTIPLE) {
          val = val.split(",")[0];
        }
        //if any stored options are invalid, clear the cookie so at least some content is restored
        if (val) {
          for (let opt of val.split(",")) {
            if (ITEMS.indexOf(opt.trim()) == -1) {
              val = null;
              localStorage.removeItem(AstroDocFilter.COOKIE_NAME);
              console.log("adf cookie reset. invalid values stored.");
              break;
            }
          }
        }
      };
      static setDOM = (val) => {
        // set the parent class attributes on the body so that all children in the theme are styled correctly
        if (val) {
          document.body.setAttribute("data-adf", val);
        } else {
          document.body.removeAttribute("data-adf");
        }

        // set any and all <select/> values
        if (!MULTIPLE) {
          for (let element of document.querySelectorAll(
            "select.content-filter-select"
          )) {
            let opts = element.options;
            for (let idx in opts) {
              let opt = opts[idx];
              if (opt.value == val) {
                element.selectedIndex = idx;
                break;
              }
            }
          }
        }

        //if multiple selections are allowed, set the content of all <summary/> text and update the checkboxes
        if (MULTIPLE) {
          let item_count = ITEMS.length;
          let selected_count = 0;
          document
            .querySelectorAll(
              `details.content-filter-select input[type="checkbox"]`
            )
            .forEach((box) => {
              let checked = val && val.indexOf(box.value) >= 0;
              box.checked = checked;
              selected_count += checked ? 1 : 0;
            });
          let multiDisplayName = val
            ? (selected_count > 1 ? NAME : PREFIX) + " " + val
            : NAME;
          let summaryStr =
            selected_count == item_count
              ? "All " + NAME
              : selected_count == 0
              ? HIDDEN_DEFAULT
                ? NAME
                : "All " + NAME
              : multiDisplayName;
          document
            .querySelectorAll(".content-filter-multi-name")
            .forEach((x) => (x.innerText = summaryStr));
        }
      };
    }

    const changeFilterLevel = (e) => {
      let idx = e.target.selectedIndex;
      let selected = e.target.options[idx].value;
      document.querySelectorAll(".content-filter-select").forEach((select) => {
        select.selectedIndex = idx;
        AstroDocFilter.setCookie(selected);
        AstroDocFilter.setDOM(selected);
      });
    };

    const changeFilterMulti = (e) => {
      // iOS WebKit doesn't provide a 'path' atrribute for the event
      // so parentElements must be checked instead.
      let parent = e.target;
      while (parent?.className != "content-filter-select") {
        parent = parent.parentElement;
      }
      let boxes = parent.querySelectorAll("input[type='checkbox']");
      let res = [];
      boxes.forEach((box) => {
        if (box.checked) {
          res.push("" + box.value);
        }
      });
      let selected = res.sort().join(", ");
      AstroDocFilter.setCookie(selected);
      AstroDocFilter.setDOM(selected);
    };

    window.addEventListener("load", () => {
      AstroDocFilter.forceLowercaseIds();
      AstroDocFilter.forceHashVisibility();
      AstroDocFilter.ensureValidCookie();
      const previousFilter = localStorage.getItem(AstroDocFilter.COOKIE_NAME);
      AstroDocFilter.setDOM(previousFilter);
      document
        .querySelectorAll("select.content-filter-select")
        .forEach((el) => el.addEventListener("change", changeFilterLevel));
      document
        .querySelectorAll("details.content-filter-select")
        .forEach((el) => el.addEventListener("click", changeFilterMulti));
    });
    /**
     * If a user navigates to a heading via hash links then they must always be visible.
     * This is done by traversing up the DOM to find the ADF section and setting it's display value
     * independently of filter or cookie values
     */
    window.addEventListener(
      "hashchange",
      (evt) => {
        AstroDocFilter.forceHashVisibility(evt.newURL);
      },
      false
    );
  </script>
</>
