/*
* This file is loaded after the original provided by the astro/docs theme. It's broken down into the following sections:
* 1. SHU FS Clerkenwell font import
* 2. Overrides for styles provided by the astro docs theme (mostly color variables)
* 3. Heading Styles - for formating headings and their anchor links
* 4. Other styles
* 5. Print Styles
*/

@use "font-faces";
@use "main-layout";

/********************************
* Override styles from astro/docs
*********************************/

:root {
  //the noto emoji font is only loaded if the system cannot find an emoji character
  --system-ui-font: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --font-fallback: var(--font-default-fallback), "Noto Color Emoji";
  --font-heading-serif: clerkenwell, Georgia, Times New Roman,
    var(--font-fallback);
  --font-heading-sans-serif: "Poppins", Helvetica, Arial, var(--font-fallback);
  --font-body: "Roboto", Arial, sans-serif, system-ui, var(--font-fallback);
  --font-mono: firaCode, var(--font-default-mono), var(--font-fallback);
  --font-emoji: "Noto Color Emoji", var(--system-ui-font);
  --font-dyslexic: "OpenDyslexic", "Arial", "Comic Sans", "Verdana", "Tahoma",
    "Century Gothic", "Trebuchet", "Calibri", "Open Sans", sans-serif;
  --font-dyslexic-mono: "OpenDyslexicMono", var(--font-mono);

  color: hsl(9, 100%, 50%);
  --color-shu-light: 335, 100%, 36%;
  /*hsl(335, 100%, 36%); hex: b6004c */
  --color-shu-dark: 332, 100%, 24%;
  /*hsl(332, 100%, 24%); hex: 7b003a */
  transition: all 500ms ease-in-out;
  scroll-behavior: smooth;
}

:root {
  color-scheme: light;
  --theme-accent: hsla(var(--color-shu-dark), 1);
  --theme-text-accent: hsla(var(--color-shu-dark), 1);
  --theme-bg-accent: hsla(var(--color-shu-dark), var(--theme-accent-opacity));
  --theme-selection-color: hsla(var(--color-shu-dark), 1);
  --theme-selection-bg: hsla(
    var(--color-shu-dark),
    var(--theme-accent-opacity)
  );
}

:root.theme-dark {
  color-scheme: dark;
  //modified from --color-shu-dark: 332, 100%, 24%;
  --bg-shu: hsla(332, 100%, 10%, 1);

  --theme-accent: hsla(var(--color-shu-light), 1);
  --theme-accent-opacity: 0.15;
  --theme-text-accent: hsla(var(--color-shu-light), 1);
  --theme-bg-accent: hsla(var(--color-shu-light), var(--theme-accent-opacity));
  --theme-selection-bg: hsla(var(--color-shu-light), 1);

  --theme-bg: var(--bg-shu);
  --theme-navbar-bg: var(--bg-shu);
  --theme-bg-hover: hsla(var(--color-shu-light), var(--theme-accent-opacity));
  --theme-bg-offset: hsla(var(--color-gray-10), var(--theme-accent-opacity));

  --theme-divider: hsla(var(--color-gray-5), 0.25);

  a {
    color: var(--theme-text);
  }
}

$content-max-width: 90ch;

.content {
  max-width: $content-max-width;
  text-rendering: optimizeLegibility;
}

@media (min-width: $content-max-width) {
  :root {
    --max-width: $content-max-width;
  }
}

body {
  min-width: 350px;
}

:is(h2, h3):not(:first-child) {
  margin-top: 1rem;
}

fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

/********************************
* Heading styles
*********************************/

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-heading-sans-serif);
}

.logo {
  font-family: var(--font-heading-sans-serif);
  font-weight: bold;
}

.heading-anchor {
  color: var(--theme-text);
  text-decoration: none;
  font-size: inherit;
  font-weight: inherit;
}

.heading-anchor:hover,
.heading-anchor:focus {
  color: var(--theme-text);
  text-decoration: none;
}

.heading-anchor .after {
  margin-left: 0.15em;
  padding: 0;
  opacity: 0;
  display: inline;
  font-size: 90%;
  vertical-align: middle;
  text-decoration: underline;
  color: var(--theme-text-accent);
}

.heading-anchor:hover .after {
  display: inline;
  opacity: 1;
  animation: opacity 0.3s;
  animation-direction: normal;
}

.heading-anchor-share,
.heading-anchor-copy {
  cursor: copy;
}

.heading-anchor-share::before {
  content: "#";
}

.copied-text::after,
.shared-text::after {
  content: "copied!";
  color: var(--theme-text-accent);
  background-color: var(--theme-bg-accent);
  margin-left: 0.3em;
  padding: 0.2em 0.2ch;
  border-radius: 0.4em;
  font-size: 40%;
  vertical-align: middle;
  text-align: center;
}

.shared-text::after {
  content: "sharing...";
}

/********************************
* Left Nav Sidebar
*********************************/

#grid-left {
  height: min-content;
  width: max-content;
  padding-left: 1em;

  nav {
    margin-right: 0em;
  }

  .nav-subsection {
    vertical-align: middle;
    padding: 0.5em 0 0 1em;

    * {
      margin-bottom: 0.5em;
    }
  }

  ul {
    /* Foreground, Background */
    scrollbar-color: var(--theme-accent) var(--theme-bg-accent);
  }

  ul::-webkit-scrollbar {
    width: 10px;
    /* Mostly for vertical scrollbars */
    height: 10px;
    /* Mostly for horizontal scrollbars */
  }

  ul::-webkit-scrollbar-thumb {
    /* Foreground */
    background: var(--theme-accent);
  }

  ul::-webkit-scrollbar-track {
    /* Background */
    background: var(--theme-bg-accent);
  }

  @media screen and (max-width: 799px) {
    margin-left: 1em;

    .nav-link {
      margin: 0.25em 0;
    }
  }
}

/********************************
* Content Filter Styles
*********************************/

#filter-control-container {
  width: max-content;
  text-align: right;
  padding: 0.25ch 0.25em;
  border-radius: 0.5em;
  // background-color: var(--theme-bg-accent);
  margin-left: auto;
  span{
    margin-right:0.5em;
  }
}

.content-filter-icon {
  // margin: 0.1em 0.52em 0 0;
  scale: 0.8;
  vertical-align: text-bottom;
}

details[open] .content-filter-icon {
  rotate: -90deg;
}

.content-filter-select-wrapper {
  display: inline-flex;
  align-items: center;
  gap: 0.25rem;
  padding: 0.2rem 0.3rem;
  border-radius: 0.99rem;
  background-color: var(--theme-bg-accent);
  font-size: 1rem;
  vertical-align: middle;

  :has(select) {
    padding: 0 0.2em;
  }

  :has(details[open]) {
    border-radius: 3px;
  }

  details,
  details ul li {
    display: block;
  }

  summary {
    list-style: none;
    cursor: pointer;
  }

  details label,
  details input {
    cursor: pointer;
  }

  label {
    padding-left: 0.25em;
  }
}

.content-filter-select-wrapper summary::-webkit-details-marker {
  display: none;
}

header {
  .logo {
    overflow: visible;

    h1 {
      font-size: 1.5rem;
      font-size: calc(60% + 0.6vmin);
    }
  }

  .controls {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    align-items: center;
    align-content: flex-end;
    gap: 0.5em;
  }

  .content-filter-select-wrapper {
    display: flex;
    flex-direction: row;
    width: max-content;

    *,
    * > *,
    details,
    details ul li {
      display: inline;
      flex-direction: row;
      margin: 0 0.1em;
    }

    details[open] summary {
      width: fit-content;
    }
  }
}

.adf-filter-msg {
  display: none;
}

body[data-adf] .adf-filter-msg {
  display: initial;
  font-style: italic;
  font-size: small;
}

*[data-adf-section] {
  border-left: 2px solid var(--theme-accent);
  border-bottom: 2px dashed var(--theme-accent);
  padding: 0 0.25rem;
}

*[data-adf-section]::before {
  content: "Level " attr(data-adf-section);
  margin: 0.1em 0.25em;
  font-family: var(--font-heading-sans-serif);
  font-style: italic;
  display: inline-block;
  background: var(--theme-bg);
  color: var(--theme-accent);
}

/********************************
* Search styles
*********************************/

.bttn {
  width: max-content;
  cursor: pointer;
  padding: 0.05em 0.5em;
  background-color: var(--theme-code-inline-bg);
  border: 2px solid var(--theme-code-inline-bg);
}

.bttn:hover {
  border-color: var(--theme-bg-accent);
}

.showSearchBtn:disabled {
  cursor: wait;
  opacity: 0.6;
}

.closeBtn {
  color: var(--theme-accent);
  cursor: pointer;
  filter: grayscale(0.5);
  vertical-align: middle;
  padding-bottom: 1em;

  :hover {
    text-shadow: 0.05em 0.05em 0.3em var(--theme-accent);
  }
}

.search-dialog {
  margin: 2.5em auto;
  min-width: 300px;
  width: min(100%, 50em);
  max-height: 90vh;
  padding-top: 0;
  border-radius: 0.5em;
  border-color: var(--theme-accent);
  background: var(--theme-bg);

  header {
    width: 100%;
    height: 5em;
    position: sticky;
    vertical-align: bottom;
    top: 0;
    padding: 0.3em 0;
    background: var(--theme-bg);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
  }
}

dialog.search-dialog {
  box-shadow: 0.5em 0.5em 1em var(--theme-code-inline-bg);
}

div.search-dialog {
  max-height: max-content;
  width: 100%;

  header {
    display: block;
  }
}

.search-input-container {
  width: 100%;
  margin: 0 1em;
  vertical-align: top;
}

.search-input {
  display: block;
  font-size: large;
  padding: 0.5em 0.5em;
  border-radius: 0.5em;
  width: 100%;
  min-width: 20ch;
  flex-grow: 1;
}

.search-input:placeholder-shown + .search-suggestions {
  display: none;
}

.search-suggestions {
  display: flex;
  flex-direction: row;
  margin: 0.5em 0;

  :empty {
    display: none;
  }

  button {
    font-size: 0.8em;
    padding: 0.25em 0.5em;
    margin: 0 0.25em;
    background-color: var(--theme-code-inline-bg);
    border-radius: 0.5em;
    border: 1px solid var(--theme-code-inline-bg);
    cursor: pointer;
  }

  button:hover,
  button:focus {
    // color: #fff;
    border-color: var(--theme-accent);
    outline: 0 none;
  }
}

.search-output {
  display: block;
  margin: 1em;
  overflow-x: hidden;
}

.search-dialog::-webkit-scrollbar {
  width: 10px;
  /* Mostly for vertical scrollbars */
  height: 10px;
  /* Mostly for horizontal scrollbars */
}

.search-dialog::-webkit-scrollbar-thumb {
  /* Foreground */
  background: var(--theme-accent);
}

.search-dialog::-webkit-scrollbar-track {
  /* Background */
  background: var(--theme-bg-accent);
}

.search-output:empty {
  margin: 0;
  height: 0;
}

.search-item {
  margin-bottom: 1em;
  border-left: 3px solid var(--theme-accent);
  padding-left: 0.5em;

  .page-link {
    background-color: var(--theme-accent);

    > * {
      margin-top: 0.25em;
    }

    ::before {
      content: "📄 ";
      display: inline-block;
      text-decoration: none;
      text-decoration-line: none;
    }
  }

  .heading-link > * {
    margin-top: 0;
    display: inline;
  }

  .heading-link + p {
    margin-left: 1em;
  }
}

.page-link {
  font-size: 75%;
  text-decoration: underline;
  text-decoration-style: dotted;
  text-decoration-thickness: 1px;
}

/********************************
* Other styles
*********************************/

$fixedWidth: 800px;

@media (min-width: $fixedWidth) {
  .layout {
    min-width: $fixedWidth;
    // this line is a change from the default but avoid a flash of
    // zero-width content
    grid-template-columns: 1fr $fixedWidth 1fr;
  }

  #grid-main {
    padding-left: auto;
    padding-right: auto;
  }
}

img {
  object-fit: scale-down;
}

.emoji {
  font-family: var(--font-emoji);
  font-size: 80%;
  margin: 0 0.1em;
  vertical-align: top;
}

.page-description,
.further-reading {
  border-radius: 0.5em;
  border: 0.15em solid var(--theme-bg-accent);
  background-color: var(--theme-bg-accent);
  padding: 0.75ch 0.75em;
  margin-bottom: 1em;
}

.draft-msg {
  font-style: italic;
  font-weight: bold;
  color: var(--color-grey-5);
  padding: 0.25em;
  width: max-content;
  max-width: 100%;
  border-radius: 0.25em;
  border: 2px solid var(--theme-accent);
}

@media (max-width: $fixedWidth) {
  .draft-msg {
    text-align: center;
  }
}

details.arrow {
  summary {
    list-style: none;
    cursor: pointer;

    h1::before,
    h2::before,
    h3::before,
    h4::before,
    h5::before,
    h6::before {
      content: "➡️ ";
      font-size: 50%;
      font-family: "Courier New", var(--font-mono);
      vertical-align: middle;
      display: inline;
    }
  }

  summary::-webkit-details-marker {
    display: none;
  }
}

details[open].arrow {
  margin-bottom: 1em;

  summary {
    h1::before,
    h2::before,
    h3::before,
    h4::before,
    h5::before,
    h6::before {
      content: "⬇️ ";
    }
  }
}

kbd {
  color: darkslategrey;
  font-family: var(--font-mono);
  vertical-align: middle;
  font-size: smaller;
  border: 1px solid hsla(var(--color-gray-80), 1);
  border-bottom-width: 2px;
  padding: 0.25em;
  margin: 0 0.25em;
  border-radius: 0.25em;
  box-shadow: 2px 1px 0 hsla(var(--color-gray-80), 1);
  --key-grad: #fefefe;
  background: linear-gradient(
    to right,
    var(--key-grad),
    white,
    var(--key-grad)
  );
  position: relative;
  top: -1px;
}

kbd:hover {
  --key-grad: #efefff;
  border-bottom-width: 1px;
  border-radius: 0.3em;
  top: 1px;
}

.header-link a {
  padding-right: 0.5em;
}

.two-by-two {
  display: grid;
  grid-template-columns: 50fr 50fr;

  > * {
    margin: 0.5em;
  }
}

@media screen and (min-width: 800px) {
  .mobile-only {
    display: none;
  }
}

@media screen and (max-width: 799px) {
  .desktop-only {
    display: none;
  }

  .two-by-two {
    grid-template-columns: 500fr;
  }
}

#privacy-banner {
  position: sticky;
  bottom: 0;
  left: 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  text-align: center;
  vertical-align: bottom;
  background: var(--theme-bg);
  z-index: 999;
  padding: 0.25em;
  width: 100%;
  border: 3px solid var(--theme-accent);
  box-shadow: 0px -5px 10px var(--theme-bg-accent);

  p {
    display: inline;
    width: fit-content;
  }

  button {
    display: inline;
    font-weight: bold;
    background: var(--theme-bg-accent);
    cursor: pointer;
  }
}

:root.font-openDyslexic,
:root.font-openDyslexic *:not(button) {
  --font-heading-sans-serif: var(--font-dyslexic);
  --font-body: var(--font-dyslexic);
  --font-mono: var(--font-dyslexic-mono);
}

#return-to-top {
  font-weight: bold;
  font-family: var(--font-heading-sans-serif);
  padding: 0.5em;
  margin: 1em;
  position: fixed;
  bottom: 0;
  right: 0;
  border-radius: 0.5em;
  background-color: var(--theme-accent);
  color: white;
  transition: all 10s ease-in-out;
}

#grid-right {
  position: sticky;
  top:0px;
  z-index: 10;
}

/********************************
* Print styles
*********************************/

@media print {
  :root,
  :root.theme-dark {
    --bg-shu: white;
    --theme-accent-opacity: 0;
    --theme-text: black;
    --theme-text-light: black;
    --theme-code-inline-bg: white;
  }

  main {
    overflow: hidden;
  }

  .no-print {
    display: none !important;
  }
}
