---
import type { Frontmatter } from "../../config";
import MoreMenu from "../RightSidebar/MoreMenu.astro";
import FilterContentControl from "@components/ContentFiltering/FilterContentControl";
import TableOfContents from "../RightSidebar/TableOfContents";
import type { MarkdownHeading } from "astro";
import ReturnToTop from "@components/ReturnToTop.astro";

type Props = {
  frontmatter: Frontmatter;
  headings: MarkdownHeading[];
  githubEditUrl?: string;
};

const { frontmatter, headings, githubEditUrl } = Astro.props as Props;
const { title, description, draft, furtherReading } = frontmatter;
---

<article id="article" class="content">
  <section class="main-section">
    <h1 class="content-title" id="overview">
      <a href="#overview" class="heading-anchor"
        >{title}<b class="after heading-anchor-share"></b>
      </a>
    </h1>
    <div id="filter-control-container">
      <FilterContentControl />
    </div>
    {
      draft == true && (
        <p class="draft-msg">
          📝 This page is a draft. The content may be unfinished, or updated at
          any time. Please consider that as you browse. Thank you.
        </p>
      )
    }
    {
      description && (
        <div class="page-description">
          <>
            <h2>
              <span class="emoji">ℹ️</span>Summary
            </h2>
            <p>{description}</p>
          </>
        </div>
      )
    }
    <nav class="block sm:hidden no-print" title="Table of contents">
      <TableOfContents client:media="(min-width: 72em)" headings={headings} />
    </nav>
    <slot />
  </section>
  {
    furtherReading && (
      <aside class="further-reading">
        <>
          <h2>
            <span class="emoji">📖</span>Further Reading
          </h2>
          <p>{furtherReading}</p>
        </>
      </aside>
    )
  }
  <nav class="block sm:hidden no-print" title="More Menu">
    <MoreMenu editHref={githubEditUrl} class="no-print" />
  </nav>
</article>
<ReturnToTop/>

<style>
  .content {
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  .content > section {
    margin-bottom: 4rem;
  }

  .block {
    display: block;
  }

  @media (min-width: 72em) {
    .sm\:hidden {
      display: none;
    }
  }
</style>
