---
import { getLanguageFromURL, KNOWN_LANGUAGE_CODES } from "../../languages";
import * as CONFIG from "../../config";
// import AstroLogo from './AstroLogo.astro';
import SHUDevLogo from "./SHUDevLogo.astro";
import SkipToContent from "./SkipToContent.astro";
import SidebarToggle from "./SidebarToggle";
import ThemeToggleButton from "./ThemeToggleButton";
import LanguageSelect from "./LanguageSelect";
import SearchButton from "@components/Search/SearchButton.astro";
import SearchDialog from "@components/Search/SearchDialog.astro";
import PrintButton from "./PrintButton.astro";
import OpenDyslexicButton from "./OpenDyslexicButton.astro";

type Props = {
    currentPage: string;
};

const { currentPage } = Astro.props as Props;
const lang = getLanguageFromURL(currentPage);
const pathBase: string = Astro?.site?.pathname ?? "/";
const currentPath = Astro.url.pathname;
---

<header>
    <SkipToContent />
    <nav class="nav-wrapper" title="Top Navigation">
        <div class="menu-toggle no-print">
            <SidebarToggle client:idle />
        </div>
        <div class="logo flex">
            <a href={pathBase}>
                <!-- <AstroLogo size={40} /> -->
                <SHUDevLogo size={40} />
                <h1>{CONFIG.SITE.title ?? "Documentation"}</h1>
            </a>
        </div>
        <div class="controls">
            {
                KNOWN_LANGUAGE_CODES.length > 1 && (
                    <LanguageSelect lang={lang} class="no-print" client:idle />
                )
            }
            <PrintButton/>
            <OpenDyslexicButton/>
            <div style="text-align: center;" class="no-print">
                <ThemeToggleButton client:visible />
            </div>
            {currentPath!="/search" && <div class="no-print">
                <SearchButton />
                <SearchDialog pathBase={{ pathBase }} />
            </div>}
        </div>
    </nav>
</header>

<style>
    header {
        z-index: 11;
        height: var(--theme-navbar-height);
        width: 100%;
        background-color: var(--theme-navbar-bg);
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
    }

    .logo {
        flex: 1;
        display: flex;
        overflow: hidden;
        width: 30px;
        font-size: 2rem;
        flex-shrink: 0;
        font-weight: 600;
        line-height: 1;
        color: hsla(var(--color-base-white), 100%, 1);
        gap: 0.25em;
        z-index: -1;
    }

    .logo a {
        display: flex;
        padding: 0.5em 0.25em;
        margin: -0.5em -0.25em;
        text-decoration: none;
        font-weight: bold;
    }

    .logo a {
        transition: color 100ms ease-out;
        color: var(--theme-text);
    }

    .logo a:hover,
    .logo a:focus {
        color: var(--theme-text-accent);
    }

    .logo h1 {
        display: none;
        font: inherit;
        color: inherit;
        margin: 0;
    }

    .nav-wrapper {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: 1em;
        width: 100%;
        max-width: 82em;
        padding: 0 1rem;
    }

    @media (min-width: 50em) {
        header {
            position: static;
            padding: 2rem 0rem;
        }

        .logo {
            width: auto;
            margin: 0;
            z-index: 0;
        }

        .logo h1 {
            display: initial;
        }

        .menu-toggle {
            display: none;
        }
    }
</style>
