---
---

<button class="bttn no-print openDyslexic-toggle" title="Use OpenDyslexic Font"
  >🔠</button
>
<script is:inline>
  function toggleOpenDyslexic(evt) {
    const isPresent =
      document.documentElement.classList.toggle("font-openDyslexic");
    localStorage.setItem("font", isPresent ? "OpenDyslexic" : "default");
    document.querySelectorAll(".openDyslexic-toggle").forEach((element) => {
      element.title = `Use ${isPresent ? "default" : "OpenDyslexic"} font`;
      element.innerText = isPresent ? "🔤" : "🔠";
    });
  }
  (() => {
    const existing = localStorage.getItem("font") == "OpenDyslexic";
    if (existing) {
      toggleOpenDyslexic();
    }
    document.querySelectorAll(".openDyslexic-toggle").forEach((element) => {
      element.addEventListener("click", toggleOpenDyslexic);
    });
  })();
</script>
