---
import { SITE, OPEN_GRAPH, Frontmatter } from "../config";

export interface Props {
	frontmatter?: Frontmatter;
	canonicalUrl: URL;
	title?: string;
}

const { frontmatter, canonicalUrl, title } = Astro.props as Props;
const pathBase = Astro.site.pathname?.replace(/\/$/, "");
const usingTitle = (frontmatter?.title || title) ?? "";
const formattedContentTitle = `${usingTitle} | ${SITE.title}`;
const imageSrc = frontmatter?.image?.src ?? OPEN_GRAPH?.image?.src ?? "";
const canonicalImageSrc = imageSrc ? pathBase + imageSrc : "";
const imageAlt = frontmatter?.image?.alt ?? OPEN_GRAPH?.image?.alt ?? "";
---

<!-- Page Metadata -->
<link rel="canonical" href={canonicalUrl} />

<!-- OpenGraph Tags -->
<meta property="og:title" content={formattedContentTitle} />
<meta property="og:type" content="article" />
<meta property="og:url" content={canonicalUrl} />
<meta
	property="og:locale"
	content={frontmatter?.ogLocale ?? SITE.defaultLanguage}
/>
<meta property="og:image" content={canonicalImageSrc} />
<meta property="og:image:alt" content={imageAlt} />
<meta
	name="description"
	property="og:description"
	content={frontmatter?.description ?? SITE.description}
/>
<meta property="og:site_name" content={SITE.title} />

<!-- Twitter Tags -->
<meta name="twitter:card" content="summary_large_image" />
{
	OPEN_GRAPH?.twitter && (
		<meta name="twitter:site" content={OPEN_GRAPH?.twitter} />
	)
}
<meta name="twitter:title" content={formattedContentTitle} />
<meta
	name="twitter:description"
	content={frontmatter?.description ?? SITE.description}
/>
<meta name="twitter:image" content={canonicalImageSrc} />
<meta name="twitter:image:alt" content={imageAlt} />
<!-- JSON+LD for Rich Search Results -->
<script define:vars={{ SITE, canonicalUrl, pathBase }}>
	const script = document.createElement("script");
	script.setAttribute("type", "application/ld+json");
	script.textContent = JSON.stringify({
		"@context": "https://schema.org",
		"@type": "WebSite",
		name: SITE.title,
		alternateName: SITE.shortTitle ?? SITE.title,
		abstract: SITE.description ?? "",
		url: new URL(canonicalUrl).host + pathBase,
		potentialAction: {
			"@type": "SearchAction",
			target: {
				"@type": "EntryPoint",
				urlTemplate:
					new URL(canonicalUrl).host +
					pathBase +
					"/search?query={search_term_string}",
			},
			"query-input": "required name=search_term_string",
		},
		speakable: {
			"@type": "SpeakableSpecification",
			xPath: [
				"/html/head/title",
				"/html/head/meta[@name='description']/@content",
			],
		},
	});
	document.head.appendChild(script);
</script>
