---
---

<footer>
	<p><span class="no-print"><a href="/shu-dev-process/en/site#license">License</a> | <a href="/shu-dev-process/en/site#privacy">Privacy</a> | <a href="https://aserg.codeberg.page/shu-dev-process-legacy" target="_blank">Legacy site</a> | 
	</span><a href="https://aserg.codeberg.page/">ASERG</a> @ <a href="https://www.shu.ac.uk/about-us/academic-departments/computing">Dept. of Computing, SHU</a></p>
</footer>

<style>
	footer {
		margin-top: auto;
		padding: 0.4rem;
		border-top: 3px solid var(--theme-divider);
		text-align: center;
	}
</style>
