---
import SearchWrapper from "./SearchWrapper.astro";
import { KNOWN_LANGUAGES } from "@config";
const langCodes = Object.values(KNOWN_LANGUAGES);
const { inline, pathBase, limit, prefilledInput, prefill_path } = Astro.props;
const is_inline = inline ? true : false;
const res_limit = Math.max(1,limit?? is_inline ? 10 : 5);
const prefilled_term = prefilledInput ?? (is_inline ? new URL(Astro.url).searchParams.get("query")??"" : "");
// this link is for the university landing page
const shuLink = {
    href: "http://shu.ac.uk/myhallam",
    label: "MyHallam"
};
---

{is_inline && <style is:global>.showSearchBtn{display:none}</style>}
<SearchWrapper inline={is_inline}>
    <header>
        <div class="search-input-container">
            <input
                type="search"
                class="search-input"
                placeholder="Enter a search term..."
                list="search-suggestions"
                value={prefilled_term??""}
            />
            <div class="search-suggestions"></div>
        </div>
        {!is_inline && <form method="dialog" class="closeBtn">
            <button title="Close (Esc)" type="submit">❌</button>
        </form>}
    </header>
    <div class="search-output"></div>
    <p id="lib-link-msg">
        🏫 For university resources & services, use <a href={shuLink.href} target="_blank">{shuLink.label}</a>.
    </p>
</SearchWrapper>
<template id="search-item">
    <div class="search-item">
        <a class="heading-link"><h3></h3></a>
        <a class="page-link"><h4></h4></a>
        <p></p>
    </div>
</template>
<script src="https://cdn.jsdelivr.net/npm/minisearch@6.0.0/dist/umd/index.min.js" defer></script>
<script src="https://cdn.jsdelivr.net/npm/stopword/dist/stopword.umd.min.js" defer></script>
<script
    is:inline
    is:global
    define:vars={{ pathBase, is_inline,res_limit,prefilled_term,langCodes, prefill_path}}
    type="text/javascript"
    defer
>

    const original_title = document.title;

    let basePath = pathBase.pathBase;

    let tagName = `${is_inline?"div":"dialog"}`;
    let dialogName = `${tagName}.search-dialog`;

    let search_btns = document.querySelectorAll(".showSearchBtn");
    let search_modal = document.querySelector(dialogName);
    let search_input = document.querySelector(`${dialogName} .search-input`);

    let search_suggestions = document.querySelector(`${dialogName} .search-suggestions`);
    let search_output = document.querySelector(`${dialogName} .search-output`);
    let has_docs = false;
    let search_index = null;

    let search_results = [];

    function getSearchParam(name="query"){
        //fill the input from the URL 'query' parameter
        const loc = new URL(window.location.toString());
        const val = loc.searchParams.get(name??"query")??"";
        return decodeURIComponent(val).trim();
    }

    async function load_index() {
        const sanitiseTerm = (term)=>{
            return sw.removeStopwords(term.toLowerCase().trim().split(" "));
        };
        return fetch(basePath.replace(/\/$/gm, "") + "/search_docs.json")
            .then((resp) => resp.json())
            .then((search_data) => {
                search_index = new MiniSearch({
                    idField: "url",
                    fields: ["title", "heading", "text"],
                    storeFields: ["title", "heading", "text", "url"],
                    searchOptions: {
                        fuzzy: true,
                        boost: { title: 3, heading: 2, text: 1 },
                        processTerm: sanitiseTerm
                    },
                    processTerm: sanitiseTerm,
                });
                search_index.addAll(search_data);
                    has_docs = true;
                    console.log("search index loaded");
                    //ensure results are loaded for existing queries
                    search_input.value = getSearchParam();
                    if(search_input.value){
                        console.log(`searching for '${search_input.value}' from URL query`)
                        search_input.dispatchEvent(
                            new Event("input", {
                                bubbles: true,
                                cancelable: true,
                            })
                        );
                    }
                document.querySelectorAll(".showSearchBtn").forEach(btn=>btn.disabled=false);
                return search_index != null;
            }).catch(reason=>{
                console.warn("search index couldn't load", reason);
                return false;
            });
    }

    function addBtnListeners(){
        search_btns.forEach((btn) => {
                btn.addEventListener("click",async (evt) => {
                    if (!has_docs) {
                        await load_index();
                    }
                    search_input.value = search_output.innerHTML= "";
                    search_modal.showModal();
                });
            });
    }
    
    function search(query,limit=10,fuzz=0.2){
        query = query.replace(/\s.{1}$/gmi, "").trim();
        const results = search_index.search(query,{
        fuzzy:Math.min(10,Math.max(0,fuzz))
    }).slice(0,Math.max(1,limit));
    //used to track search events
    search_results = results;
    return results;
}

    function suggest(query){
                // by ignoring single characters after a space ("incomplete inputs"),
                // the autosuggest only works on two or more characters per word, which sensibly
                // limits suggestions, instead of plucking wildy from the MiniSearch dictionary
                query = query.replace(/\s[A-z0-9]$/gm, "").trim();
                return query.length >= 2
                    ? search_index
                          .autoSuggest(query, {
                              fuzzy: true,
                              boost: {
                                  heading: 3,
                                  title: 2,
                              },
                          })
                          .map((item) => item.suggestion.split(" ").slice(0,3).join(" ")) // keep only the first three words
                          .filter((str) => str!=query && str.length < 30).sort((a,b)=> a.length - b.length) //keep only short suggestions and sort them by length
                    : [];
            };

            function highlightText(match,text,maxSentenceLen = 180,maxSentenceCount=3){
                const maxLen = maxSentenceLen * maxSentenceCount;   
                //ensure there are no new lines
                text = text.replaceAll(/[\n,\r]+/gm,"");
                //ignore matches in places that aren't the text
                            let words = Object.keys(match).filter((k) =>
                                new Set(match[k]).has("text")
                            );
                            let highlighted_text = text;
                            //add markup for highlights
                            words.forEach((word) => {
                                let regex = new RegExp(`(${word})`, "gmi");
                                highlighted_text = highlighted_text.replace(
                                    regex,
                                    (match, p1) => `<mark>${p1.trim()}</mark>`
                                );
                            });

                            if(highlighted_text.length <= maxSentenceLen){
                                return highlighted_text;
                            }else{
                                //keep only snippets of sentences containing at least one match.
                                let shortened_text = new Set();
                                words.forEach(word=>{
                                    word=word.trim();
                                    let endChars=".!?:";
                                    //find the sentence containing the match
                                    let sentence="", 
                                        regex = new RegExp(`([^${endChars}]*)(\<mark\>${word}\<\/mark\>)([^${endChars}]*\.)`,"gmi");
                                    let groups = regex.exec(highlighted_text);
                                        if(groups){
                                            //check if the entire match is short enough and just show it
                                            if(groups[0].length <= maxSentenceLen){
                                                sentence = groups[0];
                                            }else{
                                                // otherwise grab words from either side
                                                // to create a snippet for the area surrounding the match
                                                const marked = groups[2];
                                                let beforeWords = groups[1].split(new RegExp("\\s+","gmi"));
                                                let afterWords = groups[3].split(new RegExp("\\s+","gmi"));
                                                let beforeIdx = beforeWords.length - 1;
                                                let afterIdx = 0;
                                                sentence = marked;
                                                while(sentence.length < maxSentenceLen && (beforeIdx >= 0 || afterIdx <= afterWords.length)){
                                                    const beforeWord = beforeWords[beforeIdx]??"";
                                                    const afterWord = afterWords[afterIdx]??"";
                                                    if(sentence.length < maxSentenceLen){
                                                        sentence = `${beforeWord} ${sentence}`.trim();
                                                        --beforeIdx;
                                                    }
                                                    if(sentence.length < maxSentenceLen){
                                                        sentence = `${sentence} ${afterWord}`.trim();
                                                        ++afterIdx;
                                                    }
                                                }
                                                sentence = `${beforeIdx<0?"...":""}${sentence}${afterIdx>afterWords.length?"...":""}`;
                                            }
                                        }
                                        shortened_text.add(sentence.trim());
                                });
                            let resultStr = shortened_text.size ? Array.from(shortened_text).filter(x=>x.length).map(x=>x.trim()).join(" / ") : highlighted_text;
                            return resultStr.substring(0,maxLen) + (resultStr.length>maxLen?"...":"");
                            }
                        };

    function prefillWithParsedPath(){
        //remove any standard base and optional language codes from the parsed term
        //then keep only alphanumerical characters
        const termRegex = new RegExp(  `^(${basePath.replaceAll("/", "/")})(${langCodes.join("|")})?`,  "gmi");
        const searchTerm = new URL(window.location).pathname
        .replaceAll(termRegex, "")
        .replaceAll(/[^A-z0-9]+/gmi, " ")
        .replace(/([A-Z])/g, " $1")
        .trim();
        search_input.value = searchTerm;
    }

    function tryLuckyRedirect(){
        const isLucky = getSearchParam("lucky")?true:false;
        if(isLucky){
            load_index().then(wasLoaded=>{
                if(wasLoaded){
                    const term = getSearchParam("query");
                    const res = search(term,1);
                    if(res.length){
                        const newLoc = res[0].url;
                        window.location = newLoc;
                        return true;
                    }
                }
            })
        }
        return false;
    }

    window.addEventListener("load",() => {
        tryLuckyRedirect();
        if(prefill_path){
            prefillWithParsedPath();
        }        
        document.addEventListener("keydown",(evt) => {
            const is_slash = evt.key == "/";
            const is_ctrl_k = evt.key =="k" && evt.ctrlKey;
            if(!is_slash && !is_ctrl_k){
                return;
            }
            if (!is_inline && !search_modal.open) {
                evt.preventDefault();
                search_input.value = "";
                search_modal.showModal();
            }
        });

        search_input.addEventListener("input", async (evt) => {
            if(!has_docs){
                await load_index();
            }
            let term = evt.target.value.toLowerCase().trim();
            let noResults = term ? "<i>No results</i>" : "<i>No search term</i>";

            if (term && search_index) {
                let suggestions = suggest(term);
                search_suggestions.innerHTML = !suggestions.length
                    ? ""
                    : suggestions
                          .slice(0, 5)
                          .map(
                              (s) =>
                                  `<button value="${s}" title="${s}">${s}</button>`
                          )
                          .join("");
                search_suggestions.querySelectorAll("button").forEach((opt) =>
                    opt.addEventListener("click", (evt) => {
                        search_input.value = evt.target.value;
                        search_input.dispatchEvent(
                            new Event("input", {
                                bubbles: true,
                                cancelable: true,
                            })
                        );
                    })
                );

                search_output.innerHTML = noResults;
                const fuzz = 0.2;
                const limit = res_limit;
                let res = search(term,limit,fuzz);
                let looserSearchLimit = Math.max(1,limit-1);
                // try a few looser searchs until there are enough results,
                // first with no limit, then using term suggestions
                if (res.length < looserSearchLimit) {
                    res = [...res,...search(`*${term}*`)];
                }
                if(res.length< looserSearchLimit){
                for(let suggestion of suggestions){
                    res = [...res,...search(suggestion)];
                    if(res.length>= looserSearchLimit){
                        break;
                    }
                }
            }

            //remove duplicates from the looser searches
            res.forEach((item,idx)=>{
                while(res.filter(x=>x.id==item.id).length>1){
                    res.splice(idx,1);
                }
            })

            //limit back to the correct length
            res = res.slice(0,limit);
            if (res.length > 0){
                search_output.innerHTML="";
                res.map((item) => {
                    const { heading, text, title, match } = item;
                    let {url} = item;
                    url = new URL(url,window.location);
                    url.search = `?fromSearch=${encodeURIComponent(term)}`;
                    let pageURL = new URL(url,window.location);
                    pageURL.hash="";
                    let cloneEl = document
                        .getElementById("search-item")
                        .content.cloneNode(true);
                    let pageLink = cloneEl.querySelector(".page-link");
                    let headingLink = cloneEl.querySelector(".heading-link");
                    let headingEl = cloneEl.querySelector(".heading-link>*");
                    let titleEl = cloneEl.querySelector(".page-link>*");
                    let highlightEl = cloneEl.querySelector("p");
                    headingEl.innerText = heading;
                    headingLink.href = url;
                    headingLink.title = heading;
                    pageLink.href = pageURL;
                    cloneEl.title = title;
                    cloneEl.name = title;
                    pageLink.title = title;
                    titleEl.innerText = title;
                    highlightEl.innerHTML = highlightText(match,text);
                    highlightEl.title = heading;
                    if (heading == title || !title) {
                        pageLink.remove();
                    }
                    search_output.appendChild(cloneEl);
                });

                //set search page query string
                let searchStr = term?.length ? `?query=${encodeURIComponent(term)}` : "";
                let newTitle = !term?.length ? original_title : `'${term}' - ${original_title}`;
                document.title = newTitle;
                if(is_inline && window.location.search!=searchStr){
                    let url = new URL(window.location);
                    url.search = searchStr;
                }
                if (!is_inline) {
                    search_output
                        .querySelectorAll(".search-item a")
                        .forEach((a) =>
                            a.addEventListener("click", (evt) => {
                                search_modal.close();
                            })
                        );
                }
            } else {
                search_output.innerHTML = noResults;
                search_suggestions.innerHTML = "";
            }
        }
        });
        (async()=>await load_index())();
        addBtnListeners();
    });
</script>
