---
import HeadCommon from "../components/HeadCommon.astro";
import BodyScripts from "../components/BodyScripts.astro";
import Header from "../components/Header/Header.astro";
import PageContent from "../components/PageContent/PageContent.astro";
import LeftSidebar from "../components/LeftSidebar/LeftSidebar.astro";
import RightSidebar from "../components/RightSidebar/RightSidebar.astro";
import * as CONFIG from "../config";
import type { MarkdownHeading } from "astro";
import Footer from "../components/Footer/Footer.astro";
import CookieBanner from "../components/CookieBanner.astro";

type Props = {
  frontmatter?: CONFIG.Frontmatter;
  headings?: MarkdownHeading[];
  title?: string;
};

const { frontmatter, headings, title } = Astro.props as Props;
const currentPage = Astro.url.pathname;
const currentFile = `src/pages${currentPage.replace(/\/$/, "")}.md`;
const base = Astro.site.pathname.replace(/\/$/gm, "") + "";
const build_str = CONFIG.BUILD_STR;
const siteTitle = CONFIG?.SITE?.title;
const pageTitle = frontmatter?.title
  ? `${frontmatter.title ?? ""} | ${siteTitle}`
  : siteTitle;
---

<html
  dir={frontmatter?.dir ?? "ltr"}
  lang={frontmatter?.lang ?? "en-us"}
  class="initial"
>
  <head>
    <HeadCommon
      frontmatter={frontmatter}
      headings={headings}
      title={pageTitle}
    />
  </head>

  <body>
    <Header currentPage={currentPage} />
    <main class="layout">
      <aside id="grid-left" class="grid-sidebar" title="Site Navigation">
        <LeftSidebar currentPage={currentPage} />
      </aside>
      <div id="grid-main">
        <PageContent frontmatter={frontmatter} headings={headings}>
          <slot />
        </PageContent>
      </div>
      <aside id="grid-right" class="grid-sidebar" title="Table of Contents">
        <RightSidebar headings={headings} />
      </aside>
    </main>
    <Footer />
    <CookieBanner build_str={build_str} />
    <BodyScripts base={base} build_str={build_str} />
  </body>
</html>
